body {
  background: #ffffff url("body_back.jpg") no-repeat right top;
}
body {
    padding-top: 80px;
}
h1 {
  color: #4b5959;
  font-size: 24px;
  text-align: center;
  font-weight: bold;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

/*Fixed horizontal bar at the top */
ul {
  position: fixed;
  top: 0;
  width: 100%;
}

li {
  float: left;
}

li a {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 16px 50px;
  text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
  background-color: #527a7a;
  color: white;
}

div.impact {
  font-family: Verdana, Geneva, sans-serif;
  font-size: 80px;
  text-align: center;
  color: #4b5959;
}

div.intro{
    padding-top: 10px;
    font-weight: bold;
    text-align: center;
    font-size: 15px;
    color: #4b5959;

}

.avatar{
    padding-top: 30px;
    text-align: center;
}

.quote{
  color:#4b5959;
  font-size:15px;
  text-align: center;
}

.bookinfo{
  color:#4b5959;
  font-size: 18px;
  text-align: center;
}

.Recipe{
  padding-top: 20px;
  color:#4b5959;
  font-size: 18px;
  text-align: center;
  font-weight: bold;
}

.vsrc{
  padding-top:10px;
  text-align: center;
}

.like{
  padding-top: 10px;
  text-align: center;
  color: #1a6dd9;
}

.button {
  background-color: white;
  border: none;
  color: #1a6dd9;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

#push{
  color:#1a6dd9;
}

.pjt{
  padding-top: 30px;
  font-size: 20px;
  color: #4b5959;
  text-align: center;
}